<!doctype html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body ng-app="NewChatApp">
    <h1>Mac's Chats!</h1>

    <main>
        <ul ng-controller="ReceiveMessageController">
            <li ng-repeat="something in newMessages">
                <p>Message: {{ something.message }}</p>
                <p>From: {{ something.from }} at {{ something.added }}</p>
            </li>
            <!--<button>Get New Messages!</button>-->
        </ul>

        <section ng-controller="SendMessageController">
            
            <input type="text" ng-model="msg"></input>
            <button ng-click="functionName()">Send!</button>
            <p>Enter Username: <input type="text" ng-model="usrnm"></input></p>
        </section>

    </main>

</body>

</html>